@charset "UTF-8";
@font-face {
    font-family: 'tormenta';
    src: url('../fontes/Tormenta.ttf') format('truetype');
}

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    display: flex;
    justify-content: space-between  ;
    background-color: black;
    height: 40px;
    position: sticky;
    top: 0;
    padding: 10px 15px;
}

header img{
    height: 40px;
    margin-left: 5px;
}
main{
    display: flex;
    flex-direction: row;
    background-image: url("../imagens/background.png");
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    height: 100%;
}

.principal {
    display: flex;
    flex-direction: column;
    background-color: white;
    width: 1000px;
    margin: auto;
    height: 100%;
    padding: 20px;
    text-align: justify;
    border-left: 3px solid black;
    border-right: 3px solid black;
}

.icons{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-left: 8px;
    margin-top: 3px;
    position: fixed;
}

.circle {
    background-color: black;
    background-size: cover;
    background-position: center center;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    border: 7px solid black;
}

div#personagem{
    background-image: url("../imagens/icons/personagens.svg");
}

div#pericia{
    background-image: url("../imagens/icons/pericias_poderes.svg");
}

div#equipamento {
    background-image: url("../imagens/icons/equipamentos.svg");
}

div#magia {
    background-image: url("../imagens/icons/magias.svg");
}

div#jogando {
    background-image: url("../imagens/icons/jogando.svg");
}

div#mestre {
    background-image: url("../imagens/icons/mestre.svg");
}

div#ameaças {
    background-image: url("../imagens/icons/ameaças.svg");
}

div#recompensas{
    background-image: url("../imagens/icons/recompensas.svg");
}

div#arton {
    background-image: url("../imagens/icons/arton.svg");
}


.circle:hover{
    transition: 0.5s;
}

div#personagem:hover {
    background-image: url("../imagens/icons/personagens_alter.svg");
}

div#pericia:hover{
    background-image: url("../imagens/icons/pericias_poderes_alter.svg");
}

div#equipamento:hover{
    background-image: url("../imagens/icons/equipamentos_alter.svg");
}

div#magia:hover{
    background-image: url("../imagens/icons/magias_alter.svg");
}

div#jogando:hover{
    background-image: url("../imagens/icons/jogando_alter.svg");
}

div#mestre:hover{
    background-image: url("../imagens/icons/mestre_alter.svg");
}

div#ameaças:hover{
    background-image: url("../imagens/icons/ameaças_alter.svg");
}

div#recompensas:hover{
    background-image: url("../imagens/icons/recompensas_alter.svg");
}

div#arton:hover{
    background-image: url("../imagens/icons/arton_alter.svg");
}