@charset "UTF-8";

.seçoes {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    margin-top: 20px;
}

hr {
    background-color:  black;
     height: 3px;
     margin: 20px 0px;
 }

.seçoes div#atributos {
    background-image: url("../imagens/icons/atributos.png");
}

.seçoes div#raças {
    background-image: url("../imagens/icons/raças.png");
}

.seçoes div#classes {
    background-image: url("../imagens/icons/classes.png");
}

.seçoes div#origens {
    background-image: url("../imagens/icons/origens.png");
}

.seçoes div#deuses {
    background-image: url("../imagens/icons/deuses.png");
}

.seçoes div#toques {
    background-image: url("../imagens/icons/toques.png");
}