.inicio {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.inicio img {
    width: 100px;
}

.inicio h1 {
    margin: auto;
}

.deuses {
    display: flex;

}

.deuses img{
    width: 50px;
}