@charset "UTF-8";

iframe{
    height: 80vh;
    width: 980px;
    margin: auto;
    border: 3px solid black;
}

.deuses img {
    width: 60px;
    border: 5px solid black;
    border-radius: 50%;
}

.deuses {
    display: flex;
    flex-flow: row wrap;
    gap: 15px;
    padding: 0px 100px;
    margin-bottom: 30px;
}

div#aharadak {
    background-image: url("../imagens/gods/aharadak.svg");
}

div#allihanna {
    background-image: url("../imagens/gods/allihanna.svg");
}

div#arsenal{
    background-image: url("../imagens/gods/arsenal.svg");
}

div#azgher{
    background-image: url("../imagens/gods/asgher.svg");
}

div#corvo{
    background-image: url("../imagens/gods/corvo.svg");
}

div#hyninn{
    background-image: url("../imagens/gods/Hyninn.svg");
}

div#kally{
    background-image: url("../imagens/gods/Kallyadranoch.svg");
}

div#khalmyr{
    background-image: url("../imagens/gods/Khalmyr.svg");
}

div#lena{
    background-image: url("../imagens/gods/Lena.svg");
}

div#lin{
    background-image: url("../imagens/gods/T20\ Lin\ wu.svg");
}

div#marah{
    background-image: url("../imagens/gods/Marah.svg");
}

div#mega{
    background-image: url("../imagens/gods/Megalokk.svg");
}

div#nimb{
    background-image: url("../imagens/gods/T20\ Nimb.svg");
}

div#oceano{
    background-image: url("../imagens/gods/Oceano.svg");
}

div#sszzaas{
    background-image: url("../imagens/gods/Sszzaas.svg");
}

div#tanna{
    background-image: url("../imagens/gods/Tanna-Toh.svg");
}

div#tenebra{
    background-image: url("../imagens/gods/Tenebra.svg");
}

div#twhor{
    background-image: url("../imagens/gods/Thwor.svg");
}

div#thy{
    background-image: url("../imagens/gods/Thyatis.svg");
}

div#valkaria{
    background-image: url("../imagens/gods/Valkaria.svg");
}

div#wynna{
    background-image: url("../imagens/gods/download.svg");
}