@charset "UTF-8";
@font-face {
    font-family: 'Tormenta', sans-serif;
    src: url('../fontes/Tormenta20.ttf') format('truetype');
}

* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* Cabeçalho */
header {
    height: 50px;
    background-color: black;
}

/* Topo e Introdução */
main{
    background-color: black;
}

.bunner{
    background-color: darkred;
    background-image: url("../imagens/fundo.png");
    background-position: center top;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height: 300px;
    border-top: 3px solid darkred;
    border-bottom: 3px solid darkred;
}

.introdução{
    max-width: 1200px;
    margin: auto;
    text-align: center;
}

.introdução > p{
    line-height: 1.5em;
    text-align: justify;
    margin: auto;
    max-width: 1000px;
    font-size: 1em;
    padding: 10px;

}

.introdução h1{
    font-weight: bold;
    font-size: 2em;
    font-family: 'Tormenta';
    padding: 30px;
}
/* Icons e opções */
.principal{
    max-width: 1200px;
    margin: auto;
    background-color: white;
    background-image: url("../imagens/background.png");
    background-size: cover;
    background-position: center top;
    border-left: 3px solid darkred;
    border-right: 3px solid darkred;
}
.opçoes{
    max-width: 95vw;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 400px;
    padding: 50px;
}

.opçoes h1 {
    font-size: 2em;
    font-weight: bold;
    padding: 10px;
}

.opçoes p {
    font: 2.5em;
    margin: 30px;
}

/* Icones geral */
.icons {
    display: flex;
    flex-flow: row wrap;
    gap: 30px;
    justify-content: center;
}

.icon {
    position: relative;
}

.icon .circle{
    position: relative;
    background-color: black;
    background-size: cover;
    background-position: center center;
    height: 50px;
    width: 50px;
    border: 8px solid black;
    border-radius: 50%;
}

.icon .circle:hover{
    background-color: black;
    border: 8px solid black;
    transform: translate(0px, -3px);
    box-shadow: 3px 3px 8px black;
    transition: 0.5s;
}

/* personagem */
.icon div#personagem{
    background-image: url("../imagens/icons/personagens.png");
}

.icon div#personagem:hover{
    background-image: url("../imagens/icons/personagens_alter.png");
}

section.perso:hover .texto{
    left: 0px;
}

/* Pericias */
.icon div#pericia{
    background-image: url("../imagens/icons/pericias_poderes.png");
}

.icon div#pericia:hover{
    background-image: url("../imagens/icons/pericias_poderes_alter.png");
}

section.peri:hover .texto{
    left: -96px;
}

/* Equipamento */
.icon div#equipamento{
    background-image: url("../imagens/icons/equipamentos.png");
}

.icon div#equipamento:hover{
    background-image: url("../imagens/icons/equipamentos_alter.png");
}

section.equi:hover .texto {
    left: -192px;
}

/* Magias */
.icon div#magia{
    background-image: url("../imagens/icons/magias.png");
}

.icon div#magia:hover{
    background-image: url("../imagens/icons/magias_alter.png");
}

section.magi:hover .texto{
    left: -288px;
}

/* Jogando */
.icon div#jogando{
    background-image: url("../imagens/icons/jogando.png");
}

.icon div#jogando:hover{
    background-image: url("../imagens/icons/jogando_alter.png");
}

section.jog:hover .texto{
    left: -384px;
}
/* Mestre */
.icon div#mestre{
    background-image: url("../imagens/icons/mestre.png");
}

.icon div#mestre:hover{
    background-image: url("../imagens/icons/mestre_alter.png");
}

section.mes:hover .texto{
    left: -480px;
}

/* Ameaças */
.icon div#ameaças{
    background-image: url("../imagens/icons/ameaças.png");
}

.icon div#ameaças:hover{
    background-image: url("../imagens/icons/ameaças_alter.png");
}

section.ame:hover .texto{
    left: -576px;
}

/* Recompensas */
.icon div#recompensas{
    background-image: url("../imagens/icons/recompensas.png");
}

.icon div#recompensas:hover{
    background-image: url("../imagens/icons/recompensas_alter.png");
}

section.reco:hover .texto{
    left: -672px;
}

/* Arton */
.icon div#arton{
    background-image: url("../imagens/icons/arton.png");
}

.icon div#arton:hover{
    background-image: url("../imagens/icons/arton_alter.png");
}

section.art:hover .texto{
    left: -768px;
}









section.icon  .texto{
    display: none;
}

section.icon:hover .texto {
    display: block;
    position: absolute;
    top: 60px;
    background-color: black;
    height: 180px;
    width: 834px;
    border-radius: 20px;
    color: white;
    text-align: center;
    padding-top: 30px;
    justify-content: center;
}




.texto h2{
    color: white;
    margin: ;
}

footer {
    height: 50px;
    border-top: 3px solid darkred;
    background-color: black;
}


