@charset "UTF-8";
@font-face {
    font-family: 'tormenta';
    src: url('../fontes/Tormenta.ttf') format('truetype');
}

:root {
    --destaque: #cf2a29;
    --tormenta: 'tormenta',serif;
}

.peri_pode {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}
.peri_pode a{
    font-family: 'tormenta',serif;
    font-size: 2em;
    font-weight: bold;
    text-decoration: none;
    color: var(--destaque);
    background-color: black;
    border-radius: 20px;
    padding: 12px;
}

.peri_pode a:hover{
    background-color: ;
}

hr {
    height: 3px;
    background-color: black;
}